# Ignore cache files
*__pycache__
*.DS_Store

# Ignore .venv
*.venv
*lib

# Ignore any datafiles
*output
*news-commentary*

# Ignore any LaTeX supporting files
*.aux
*.log
*.out
*.synctex.gz
*.xml
*.bbl
*.bcf
*.blg
*.bbl-SAVE-ERROR